.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          username
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to "/groups/new" do
              = fa_icon 'edit'
          %li.side-header__box__menu__edit-user
            = link_to "/users/####/edit" do
              = fa_icon 'cog'
    .groups
      -# 最後に部分テンプレ化
      = link_to "/groups/####/message" do
        .group
          %p.group__group-name
            group_name
          %p.group__latest-message
            latest_message
      -# end
  .chat-main
    .main-header
      .main-header__left-box
        %h2{data_group_id: "####", class: "main-header__left-box__current-group"}
          group_name
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member
            member_name
      = link_to "/groups/####/edit" do
        .main-header__edit-btn
          Edit
    -# 部分テンプレka
    .messages
      .message{data_message_id: "####"}
        .message__upper-info
          %p.message__upper-info__talker
            talker
          %p.message__upper-info__date
            2019/11/11(Thu)11:11:11
        %p.message__text
          testext
    -# end
    .form
      %form{class: "new_message", id: "new_message", action: "/groups/####/messages", method: 'post'}
        .input-box
          %input.input-box__text{placeholder: "type a message", type: "text"}
          %label.input-box__image{for: "message_image"}
            = fa_icon "image"
            %input.input-box__image__file{type: "file", id: "message_image"}
        %input.submit-btn{value: "Send", type: "submit"}